<ion-tabs class="tabs-icon-top tabs-color-active-positive {{$root.hideTabs}}">
    <ion-tab title="首页" icon-off="ion-ios-filing-outline" icon-on="ion-ios-filing" href="#/tab">
        <ion-nav-view name="tab-homepage"></ion-nav-view>
    </ion-tab>
    <ion-tab title="列表" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/tab/list">
        <ion-nav-view name="tab-list"></ion-nav-view>
    </ion-tab>
    <ion-tab title="图形" icon-on="ion-ios-world" icon-off="ion-ios-world-outline" href="#/tab/echart">
        <ion-nav-view name="tab-echart"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/tab/mine">
        <ion-nav-view name="tab-mine"></ion-nav-view>
    </ion-tab>
</ion-tabs>
