<ion-view view-title="首页" hide-back-button="true" hideTabs>
    <ion-content id="homepage">
		<!-- <ul class="list">
            <a href="#/tab/header" class="item">
                <li>header</li>
            </a>
            <a href="#/tab/button" class="item">
                <li>button</li>
            </a>
            <a href="#/tab/list" class="item">
                <li>list</li>
            </a>
        </ul> -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="images/scene.jpg" style="width: 100%; height: 100%;">
                </div>
                <div class="swiper-slide">
                    <img src="images/scene2.jpg" style="width: 100%; height: 100%;">
                </div>
                <div class="swiper-slide">
                    <img src="images/scene3.jpg" style="width: 100%; height: 100%;">
                </div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- 如果需要滚动条 -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
        <list-template></list-template>
        <list-template></list-template>
        <list-template></list-template>
        <list-template></list-template>
    </ion-content>
</ion-view>
